body{
	margin: 0px;
	padding: 0px;
	background-color:#FDF3E7 ;
}
.main{
	height: 550px;
	width: 100%;
	
}
.form{
	background-color:#C63D0F ; 
	height: 450px; 
	width: 680px; 
	margin-top: 30px;
	margin-left: 100px;
	border-radius: 7px;
	border:1px solid #C63D0F;
	box-shadow: -16px 9px 37px 6px rgba(0,0,0,0.81);
	float: left;

}




/*-----------Form of profile edit-------------*/


.fname{
	height: 100%; width: 50%; float: left;
}
.lname{
	height: 100%; width: 50%;
}


.gender{
	background-color:  ;
	height: 100%; width: 55%; float: left;
}
 .phone{
 	background-color: ;
	height: 100%; width: 45%; float: right;
}

.reset{
	height: 100%; width: 48%; float: right;
}




#fname{
	height: 70%; width:60%;
}
.fname label, .lname label{
	width: 30%;
	float: left;
	font-family: Kristen ITC;
}
#lname{
	height: 70%; width:60%;}
#submit1{
	height: 70%; width:40%; float: left; margin: 5%;}

#email{
	height: 70% ; width: 80%;
}
.email label{
	width: 15%;
	float: left;
	font-family: Kristen ITC;
}
#password{
	height: 70% ; width: 80%;
}
.password label{
	width: 15%;
	float: left;
	font-family: Kristen ITC;
}
#address1{
	height: 70% ; width: 80%;
}
.address1 label{
	width: 15%;
	float: left;
	font-family: Kristen ITC;
}
#username{
	height: 70% ; width: 80%;
}
.username label{
	width: 15%;
	float: left;
	font-family: Kristen ITC;
}
#phone{
	height: 70%; width: 60%;
}
.phone label{
	width: 30%;
	float: left;
	font-family: Kristen ITC;
}
input[type="text"],[type="password"],[type="email"],[type="date"]{
	font-size:20px;
	margin-bottom:20px;
	background-color:#ECECEA;
	font-family: Bell MT;
}
#submit1{
	border:none;
	background-color: #D9853B;
	font-family:Kristen ITC;
	font-size: 20px; 
}










/*-------Footer Part-------------*/
.footer{
	height: 200px; width: 100%; background-color:#C63D0F;
	position: absolute;
}
.bottom{
	height: 35px;
	width: 100%;
	background-color: black;
	margin-top: 180px;
}
.footer1{
	position: absolute;
	height:160px; width: 300px;
	background-color: ; 
	margin-top: 10px;
	margin-left: 100px;
	border-right: 1px solid white;
	float: left;

}
.footer2{
	position: absolute;
	height:160px; width: 300px;
	background-color: ; 
	margin-top: 10px;
	margin-left: 430px;
	border-right: 1px solid white;
	float: left;
	
}
.footer3{
	position: absolute;
	height:160px; width: 200px;
	background-color: ; 
	margin-top: 10px;
	margin-left: 760px;
	border-right: 1px solid white;
	float: left;
	
}
.footer4{
	position: absolute;
	height:70px; width: 370px;
	background-color: ; 
	margin-top: 110px;
	margin-left: 970px;
	float: left;
	
}
.footer2 p, .footer3 p{
	line-height: 20px;
	color: #ECECEA;

}

.fb,.instagram,.twitter,.playstore,.google{
	height: 90%;
	width: 55px;
	background-color: ;
	float: left;
	margin-left:15px;
	background-color:;
}
.fb,.instagram,.twitter,.playstore,.google:a{
	text-decoration: none;
}
.email a:hover{
	font-size: 15px;
	color: #ECECEA;
}