body{
	background-color: #ECECEA;
	/*	background-image: url("../image/party.jpg");*/height: 200px; width: 100%; overflow: auto; padding: 0px; margin: 0px;
}
form{
	box-shadow: 0px 0px 20px rbg(0,0,0,0.7);
}
div.main{
	height: 525px; width: 700px; background-color: #74AFAD;  
	margin-top: 65px; margin-left: 25%; padding-top: 25px; padding-left: 2%;
	border-radius: 5px; opacity:0.8; box-shadow: 10px 10px 5px #888888;

}
input[type="text"],[type="password"],[type="email"] {
	height:45px; width:300px; font-size:18px;
	margin-bottom:20px; background-color:#ECECEA; padding-left:40px;
}
button[type="button"], input[type="submit"],[type="reset"]{
	color: white; font-size: 20px; font-family: Times New Roman;
}

.user::before{
	content: "\f007"; position: absolute; font-family: "FontAwesome"; padding-left: 5px; padding-top: 5px; font-size: 35px;
	color:#74AFAD;

}
.pass::before{
	content: "\f023"; position: absolute; font-family: "FontAwesome"; padding-left: 5px;
	padding-top: 5px; font-size: 35px; color:#74AFAD;
}
div.box{
	height: 500px; width: 96%; background-color:;
}

div.box .h1{
	height: 10%; width: 100%; border-bottom: 1px ridge white;
}
#login, #signup{
	border:none; height: 100%; width: 50%;
	background-color: #D9853B; float: left;
}
#login:hover,#signup:hover{
	background-color: #C63D0F;
}
#login1{
	height: 400px;	background-color: #74AFAD;	border-bottom: 1px ridge black;
	padding-top: 25px;	padding-left: 115px;
}
#signup1{
	height: 90%;	border-bottom: 1px ridge white;
}

/*Login box*/
#login2
{
	height:90%; width: 80%; background-color: #74AFAD; 
}
div.login3{
	padding-top: 3%; padding-left: 5%;
}
.user{
	height: 80px; width: 85%;	
}
.pass{
	height: 80px;	width: 85%;	
}
.b1{
	height: 80px; width: 95%;
	}
div.space{
	height: 15px;
}
#user, #pass{
	width: 99%; height: 50%;
}
#b1{
	width: 100%; height: 50%;
}
input[type="submit"]:hover{
	background-color: #C63D0F;
}

/*sign up box*/
#signup2{
	height: 450px;
	
	background-color: #74AFAD ;
}
.fname,.gender,.submit1{
	height: 100%; width: 45%; float: left;
}
.lname, .phone, .reset{
	height: 100%; width: 48%; float: right;
}
#fname, #lname{
	height: 70%; width: 86%;
}
#submit1, #reset{
	height: 70%; width:99%;
}
#email, #password, #address, #username{
	height: 70% ; width: 93%;
}
#phone{
	height: 70%; width:86%;
}div.l a:hover{
	font-size: 15px;
}